body {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #202225;
    color: #99aab5;
}

.number,
.button {
    flex: 1;
    /* width: 100px;
    height: 70px; */
    margin: 1px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px black;
    opacity: 1;
    transition: 0.2s;
    background-color: #b3afaf;
    font-size: x-large;
}

.operator {
    flex: 1;
    width: 100px;
    height: 70px;
    margin: 1px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px black;
    opacity: 1;
    transition: 0.2s;
    background-color: grey;
    font-size: x-large;
}

.operate {
    width: 208px;
    height: 70px;
    margin: 1px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px black;
    opacity: 1;
    transition: 0.2s;
    background-color: grey;
    font-size: x-large;
}

button:active {
    opacity: 0.6;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 500px;
}

.row {
    display: flex;
    flex: 1;
}

.display {
    flex: auto;
    display: flex;
    height: 83px;
    box-shadow: 0px 0px 2px 2px black;
    background-color: white;
    margin-bottom: 1px;
    border: none;
    border-radius: 10px;
    font-size: 70px;
    color: black;
    align-items: end;
    justify-content: end;
}